:root {
  --color-brand-light: #ffffff;
  --color-brand-normal: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary-normal: #747272;
  --color-primary-dark: #4a4a4a;
  --color-secondary-dark: #011f4a;
  --color-bg: #faf4ea;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
